footer {
    text-align: center;
    background-color: #121212;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    border: 1px solid #ebebeb; /*두께 방식 색깔*/
    padding: 30px;
    text-align: right;
}