footer {
    text-align: center;
    background-color: #121212;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    border: 1px solid #ebebeb; /*두께 방식 색깔*/
    width: 610px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}